.hero {
  display: block;
  position: relative;
  padding: 7% 0 140px;
  background: #f8f9fa;

  h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    color: #46496f;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 14px;
    font-weight: 400 !important;
    line-height: 24px;
    max-width: 550px;
    color: #454c4c;
    margin-bottom: 30px;
  }

  div.h4 {
    display: inline-block;
    font-size: 14px;
    color: #454c4c;
    margin-bottom: 15px;
  }

  .podcast-platform-url {
    display: inline-block;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    margin: 0 5px 5px 0;
    text-indent: -9000px;
    background-position: -230px 7px;
    height: 40px;
    width: 165px;

    &.spotify {
      background-position: -230px -53px;
      height: 40px;
      width: 106px;
    }
    &.google {
      background-position: -230px -113px;
      height: 40px;
      width: 165px;
    }
  }

  .side-image {
    display: block;
    padding-bottom: 56.25%;
    z-index: 2;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 32px;
      line-height: 40px;
    }
  }
}
